.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th[_ngcontent-yyi-c48] {
  width: 0;
}

mat-form-field {
  margin-right: 12px;
}